<div class="footer-container">
    <footer>
        <a href="/"><img src="/img/logo.png" class="logo logo-footer" id="logo" alt="logo"></a>
        <div class="footer-menu">
            <ul>
                <li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#stories">Stories</a></li>
                </li>
            </ul>
        </div>
        <div id="copyright">
            &copy; CurrentCopyrightYear Aïcha Haïdara<a class="not-animated"></a><br> 
        </div>
    </footer>
</div>