<div class="navbar">
    <a href="/"><img src="/img/logo.png" class="logo" id="logo" alt="logo"></a>
    <ul>
        <li><a href="/"><img id="home" src="/img/home.png" alt=""></a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#stories">STORIES</a></li>
        <li><a id="create" href="/articles/new">CREATE</a></li>
        <li><a href="/login">LOGIN</a></li>
        <li><a id="logout" href="/logout">LOG OUT</a></li>
    </ul>
</div>
